.margin-bottom{
    margin-bottom: 20px;
}.margin-top{
     margin-top: 55px
}
.margin-top2{
       margin-top: 20px
}
.margin-top3{
    margin-top: 75px
}
.opacity {
    opacity: 95%;
}

.padding1 {
    padding-top: 120px;
}

.padding2 {
    padding-top: 50px;
}
.margin {
    margin: 20px;
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-profile {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.img-profile-small {
     vertical-align: middle;
     width: 30px;
     height: 30px;
     border-radius: 50%;
 }z
